# Godot 4+ specific ignores
.godot/
# Python files (used to work as a Python game)
.py
# ignore work in progress sprites
*.psd
*.aseprite
# Import file ignores
*.import
# Godot EXE path ignore for VSCode
.vscode/settings.json
# If someone decides to place the Godot exe in "for convenience" I suppose
*Godot*.exe
# Test Build Files
[Bb]uild/*
